h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1.2 rem;
    display: flex;
    justify-content: center;
}

#btn{
    background-color: black;
    color: chartreuse;
    margin-left: 370px;
}

#box{
    border-radius: 8%;
    margin-top: 50px;
    margin-left: 230px;
    height: 200px;
    width: 400px;
    border: 2px dashed blue;
}

p{
    color: rgb(140, 39, 39);
    font-size: 30px;
    font-weight: bolder;
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;

}