h1,h3{
    text-align: center;
}

#box{
    display: flex;
    justify-content: center;
}

.box1{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
}
.box2{
    border-radius: 10px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.box3{
    border-radius: 10px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-color: rgb(19, 201, 22);
}
.box4{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-color: rgb(208, 182, 18);
}