
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body{
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: red;
    width: 340px;
}
.min-content{
    background-color: blue;
}
.music-player{
    background-color: yellow;
}

