body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
}

.big {
  color: rgb(20, 210, 220);
  font-size: 32px;
}
