h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
#b1:hover{
    background-color: aqua;
}
#b2:hover{
    color: white;
    background-color: black;
}
